@import "../../../styles/fonts.module.scss";

.nav {
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 80px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  border-bottom: 2px solid var(--theme-page-background);
  ul {
    padding-left: 80px;
    list-style-type: none;
    display: flex;
    font-size: 1.2rem;
    color: var(--theme-page-text-two);
    font-weight: 400;
    justify-content: center;
    li {
      transition: 0.1s ease;
      margin-left: 20px;
      margin-right: 20px;
    }
    li:hover {
      cursor: pointer;
      color: var(--theme-page-text);
    }
  }
}
