.button {
  background-color: var(--content-color);
  color: white;
  border-radius: 15px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid var(--content-color);
  transition: 0.3s ease;
  font-size: 1.5rem;
}
.button:hover {
  cursor: pointer;
  transform: scale(0.9);
}
