@import "../../styles/fonts.module.scss";
.dashboard {
  font-family: "Montserrat", sans-serif;
  color: var(--theme-page-text);
  background-color: var(--theme-color);
  width: 100%;
  min-height: 100%;
  display: grid;
  grid:
    "sidebar body aside" 1fr
    / auto 1fr auto;
  gap: 8px;
}
