.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  position: relative;
  padding-top: 50px;
  padding-left: 50px;
  .title {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  :first-child {
    margin-right: 10px;
  }
  :last-child {
    margin-left: 10px;
  }
}
