.navbar {
  background-color: var(--theme-page-background);
  color: var(--theme-page-text);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: inherit;
  grid-area: sidebar;
  padding-left: 0px;
  padding-right: 0px;
  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  ul {
    list-style-type: none;
    display: flex;
    font-size: 1.2rem;
    color: var(--theme-page-text-two);
    font-weight: 400;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-left: 50px;
    .active {
      background-color: var(--content-color);
    }
    a {
      width: 100%;
    }
    li {
      font-size: 1.2rem;
      padding: 5px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      transition: 0.1s ease;
      text-align: left;
      svg {
        margin-right: 5px;
      }
    }
    li:hover {
      cursor: pointer;
      background-color: var(--content-color);
    }
  }
  header {
    margin-top: 30px;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--theme-page-background);
    a {
      color: var(--content-color);
      margin-right: 2px;
    }
    svg {
      margin-left: 10px;
    }
  }
  .switch {
    margin-top: 20px;
    padding-left: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 30px;
  }
}
