@import "../../styles/fonts.module.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  footer {
    flex-grow: 1;
    align-items: flex-end;
  }
  section {
    padding-top: 60px;
    display: flex;
    flex-grow: 1;
    padding-left: 80px;
    header {
      flex-grow: 1;
      padding-top: 100px;
      font-weight: 600;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    figure {
      padding-right: 10%;
      :first-child {
        margin-top: 60px;
        border-radius: 50px;
        overflow: hidden;
      }
    }
  }
}
