$blue: #4783fe;
$dark: #212327;
$lightdark: #282932;
$gray: #efefef;
$white: white;
$white2: #fbf8fb;

$primaryDark: #212327;
$secondaryDark: #282932;
$textDark: white;

$primaryLight: white;
$secondaryLight: #fbf8fb;
$textLight: #212327;
