.light {
  --theme-color: white;
  --theme-page-background: #fbf8fb;
  --theme-page-text: #212327;
}

.dark {
  --theme-color: #212327;
  --theme-page-background: #282932;
  --theme-page-text: #fafafa;
}
