.wrapper {
  font-weight: 300;
  background-color: var(--theme-page-background);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  p {
    padding-bottom: 2px;
  }
  .cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--theme-page-text);
    font-size: 1.3rem;
    svg {
      padding-top: 5px;
      margin-right: 5px;
    }
  }
  input {
    background-color: transparent;
    border: 0px solid var(--theme-page-text);
    outline: none;
    color: var(--theme-page-text);
    font-size: 1.3rem;
    width: 100%;
  }
}
