.step {
  margin-top: 20px;
  width: 400px;
  .names {
    padding: 0px;
    font-weight: 500;
    font-size: 1.3rem;
    color: lightgray;
    font-family: "Monstreat", sans-serif;
    padding-bottom: 0px;
  }
}
.buttons {
  display: flex;
  button {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.desc {
  text-align: center;
  padding-top: 40px;
  font-weight: 400;
}
.map {
  border-radius: 15px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 300px;
  border: 5px solid var(--content-color);
  width: 30vw;
}
.title {
  text-align: center;
  font-weight: 400;
  padding-bottom: 5px;
}
